*.psd filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text

# individual uassets files
0014 guitarra.wav filter=lfs diff=lfs merge=lfs -text
0007 guitarra.wav filter=lfs diff=lfs merge=lfs -text
0013 guitarra.wav filter=lfs diff=lfs merge=lfs -text
0012 guitarra.wav filter=lfs diff=lfs merge=lfs -text
0009 guitarra.wav filter=lfs diff=lfs merge=lfs -text
0020 guitarra.wav filter=lfs diff=lfs merge=lfs -text

